$color: #fdfdfd;

.liked-container {
    width: 30%;
    height: auto;

    .liked-list {
        background-color: $color;

        .section-title {
            padding: 20px 20px 10px;
            color: #424242;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 30px;
            border-bottom: 2px solid #088dcd;

            // &::after {
            //     bottom: 0;
            //     content: "";
            //     height: 2px;
            //     left: 20px;
            //     position: absolute;
            //     width: 20%;
            //     background: #088dcd;
            // }
        }
        .liked-posts {
            padding: 0 25px 20px;

            .liked-post {
                border-left: 2px solid #088dcd;
                padding-left: 15px;
                margin-bottom: 15px;
            }
        }
    }
}
