$color: #fdfdfd;
$button-size: 80px;
$button-color: #088dcd;
$button-font-size: 15px;

@mixin img-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.main-container {
    width: 65%;

    .new-post {
        background-color: $color;
        padding: 30px 0;

        figure {
            height: 50px;
            width: 50px;

            img {
                @include img-avatar;
            }
        }

        .post-container {
        }

        .user-title {
            padding-bottom: 10px;
        }
        // .form-submit{
        //     width: $button-size;
        //     margin-left: ;
        // }

        .text-area {
            width: 80%;
            // padding: 20px;
            margin: 0 auto;

            .user-info {
                display: flex;
                margin-bottom: 10px;
                align-items: center;

                .user-title {
                    margin-left: 10px;
                    a {
                        color: #088dcd;
                        outline: none;
                        text-decoration: none;
                    }
                }
            }

            textarea {
                outline: none;
                border: 1px solid #f0f0f0;
                width: 100%;
                height: 120px;
                resize: none;
                padding: 10px;
            }

            .form-submit {
                width: 100%;
                // width: $button-size;
                text-align: end;

                button {
                    margin-top: 7px;
                    width: 100px;
                    height: 40px;
                    background-color: $button-color;
                    color: $color;
                    border: 1px solid $color;
                    border-radius: 5px;

                    &:hover {
                        background-color: darken($color: $button-color, $amount: 10%);
                    }
                }
            }
        }
    }

    .posts-list {
        margin-top: 30px;
        background-color: $color;

        .post {
            padding: 25px;
            .post-author {
                display: flex;

                .author-info {
                    margin-left: 15px;

                    a {
                        color: #088dcd;
                        outline: none;
                        text-decoration: none;
                    }

                    .post-date {
                        font-size: 0.75rem;
                        color: #999999;
                    }
                }
                figure {
                    height: 50px;
                    width: 50px;

                    img {
                        @include img-avatar;
                    }
                }
            }

            .post-body {
                margin-top: 15px;

                img {
                    width: 100%;
                    height: auto;
                }

                .post-addlike {
                    margin: 10px;
                    // margin-left: 3px;
                    display: flex;
                    color: #212529;
                    align-items: center;
                    .like-icon {
                        color: red;
                    }
                    p {
                        margin-left: 5px;
                    }
                    .delete-post {
                        margin-left: 20px;

                        button {
                            text-decoration: none;
                            color: #ff6868;
                            font-size: $button-font-size;
                            border: 0;
                            border-radius: 5px;
                            // color: $color;
                            background-color: transparent;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    // i{

                    // }
                }

                .post-description {
                    color: #8c8b8b;
                    font-size: 16px;
                    line-height: 26px;
                }

                .comments {
                    margin-top: 20px;
                    margin-left: 20px;

                    .comment {
                        display: flex;
                        margin-bottom: 10px;
                        &-author {
                            figure {
                                height: 50px;
                                width: 50px;

                                img {
                                    @include img-avatar;
                                }
                            }
                        }
                        &-body {
                            margin-left: 30px;
                            border: 1px solid #ede9e9;
                            padding: 10px;

                            .comment-head {
                                color: #2a2a2a;
                                font-size: 14px;
                                font-weight: bold;
                                display: flex;
                                .delete-post {
                                    margin-left: 20px;
            
                                    button {
                                        text-decoration: none;
                                        color: #ff6868;
                                        font-size: $button-font-size;
                                        border: 0;
                                        border-radius: 5px;
                                        // color: $color;
                                        background-color: transparent;
                                        &:hover {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            .comment-text {
                                margin-top: 5px;
                                font-size: 13px;
                                line-height: 20px;
                                color: #8c8b8b;
                            }
                        }
                    }

                    .add-comment {
                        margin-top: 20px;
                        display: flex;
                        width: 100%;

                        .comment-author {
                            margin-right: 30px;
                        }

                        .comment-form {
                            width: 100%;

                            textarea {
                                width: 80%;

                                outline: none;
                                border: 1px solid #f0f0f0;
                                height: 50px;
                                resize: none;
                                padding: 10px;
                                background-color: darken($color: $color, $amount: 10%);
                            }
                        }
                    }
                }
            }
        }
    }
}
